/* #root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: aquamarine;
}
 */
 .bgcustom{
  background-image: url(./assets/bg.jpg);
}



@keyframes animation_logo{
  0%{
    stroke-dashoffset: 2500;
    stroke-dasharray: 2500;
  }
  20%{
    stroke-dashoffset: 1500;
  stroke-dasharray: 1500;
  }
  40%{
    stroke-dashoffset: 750;
    stroke-dasharray: 750;
    fill-opacity: 0;
    
  }
  60%{
    stroke-dashoffset: 375;
    stroke-dasharray: 375;
    opacity: 0.5;
  }
  80%{
    stroke-dashoffset: 187.5;
    stroke-dasharray: 187.5;
    opacity: 0.75;
  }
  90%{
    stroke-dashoffset: 93.75;
    stroke-dasharray: 93.75;
    opacity: 1;
  }
  100%{
    stroke-dashoffset: 0;
    stroke-dasharray: 0;
    fill-opacity: 1;
  }
}


#CGC{
  animation: animation_logo 3s forwards;
  stroke-dashoffset: 2500;
  stroke-dasharray: 2500;
  fill-opacity: 0;
}


#text path{
  animation: animation_logo 3s forwards;
  stroke-dashoffset: 2500;
  stroke-dasharray: 2500;
  fill-opacity: 0;
} 